span.cyberoze {
    float: right;
    padding-right: 15px;
    font-family: cursive;
}

span.cyberoze>a {
	color: #EB8787;
}

.circle-border {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
	padding: 10px;
}
.heading1 {
    font-size: 14px;
    font-weight: 600;
    margin: 0 5px;
}
.heading-details {
    font-size: 14px;
}
.disp-flex {
	display: flex;
}
.required{
   color: red; 
}
.margin-top-15 {
    margin-top: 15px;
}
.margin-top-20 {
    margin-top: 20px;
}