/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/***************************************
*		       Custom CSS		       *
****************************************/
@font-face {
    font-family: 'Niconne-Regular';
    src: url(../fonts/Niconne-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'CinzelDecorative-Regular';
    src: url(../fonts/CinzelDecorative-Regular.ttf) format('truetype');
}

span.welcome-message {
	display: block;
    margin-bottom: 5%;
    font-family: 'Niconne-Regular';
}

div.footer {
	position: absolute;
    bottom: 5px;
    text-align: right;
    display: block;
    width: 100%;
    right: 3%;
    font-family: 'CinzelDecorative-Regular';
}

div.navigation {
	float: right;
    padding-top: 10px;
    margin-right: 10px;
    font-size: 21px;
    font-family: 'CinzelDecorative-Regular';
}

.cd-half-block p {
    padding: 0 20%;
    font-size: 1.5rem;
    line-height: 1em;
    text-align: justify;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    font-weight: 200;
    color: #7D7D7D;
}

.cd-half-block h2 {
    font-size: 3em;
}

.custom-form-control {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    margin: 10px;
}

input[type="submit"].custom-form-control {
    background: #4CB2CC;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 1.2em;
}
div.half-heading {
    font-size: 2em;
    text-align: center;
}

div.half-heading:first-child {
    margin-top: 20%;
}

address {
    padding: 15px;
}