﻿.three-row {    
    padding: 0 30px !important;
}
.col-lg-2.checkbox {
    margin-top: 0;
}
.col-lg-2.checkbox input 
{
    margin-left:0px;    
}
p {
    margin: 0 0 10px;
    text-align: justify;
}
.custom-form {
    width: 50%;
}
.panel-heading h4 {
    display: inline;
}
.custom_modal input {
    margin-left: -30px !important;
}
.modal-body {
    padding: 20px 20px 20px 35px;
    position: relative;
}
.custom_space {
    min-height: 375px;
}
.custom_label {
    display: block;
    font-weight: normal;
    padding: 7px;
}
.nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #FFFFFF !important;
}
.uplod {
    padding: 5px 0 0 15px;
}
.pull-left.custom-img {
    width: 60%;
}
.pull-left.custom-right-img {
    width: 38%;
}
.custom_padding
{
    padding:20px;
}
.custom_img img
{
    box-shadow: 3px 7px 5px 0 #cfcfcf;
    width: 100%;
    height:200px;
}
.follower-foot.custom-follower-foot p {
    font-size: 18px;
    text-align: center;
}
.top-magin {
    margin-top: 13px !important;
}
.custom-follower-foot ul li {
    border-bottom:none !important;
}
.custom_modal{
    margin: 30px auto;
    width: 1200px;
}
.custom-right {
    padding: 0 0 0 37px;
}
.custom-left {
    padding: 0 0 0 55px;
    text-align: center;
}
.subject-image-thumb img {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    margin-top: -50px;
    border: 2px solid #fff;
    margin-left: 10px;
}
.custom_heading {
    font-size: 24px;
}
ul.summary-list {
    display: inline-block;
    margin-bottom: 0;
    padding-left: 0;
    width: 100%;
}
ul.summary-list-a > li {
    display: inline-block;
    text-align: center;
    width: 14%;
}
ul.summary-list-a > li > a > i {
    display: block;
    font-size: 18px;
    padding-bottom: 5px;
}
ul.summary-list-a > li > a {
    color: #818181;
    display: inline-block;
    padding: 10px 0;
}
ul.summary-list-a > li {
    border-right: 1px solid #eaeaea;
}
ul.summary-list-a > li:last-child {
    border-right: medium none;
}
.custom-lecture {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #cfcfcf;
    margin: 15px;
    min-height: 400px;
    overflow: scroll;
}
.custom-exam h4, h5 {
    display: inline-block;
}
.custom-exam span {
    float: right;
}
.custom-add-sidebar .fa.fa-check {
    color: #6dbb4a;
}
.row.panel-body label {
    text-align: right;
}
.custom-add-sidebar .progress {
    border-radius: 0;
    margin-bottom:-5px;
}
.red
{
    color:#ef6f66;
}
.btn-dark {
    background: none repeat scroll 0 0 #0072c5;
    border-color: #0072c5;
    color: #ffffff;
}
.btn-dark:hover {
    background: none repeat scroll 0 0 #0067B3;
    border-color: #0072c5;
    color: #ffffff;
}
.custom-exam.panel-body {
    padding: 5px;
}
.nav.nav-pills.nav-stacked.custom-add-sidebar {
    height: 275px;
    overflow-y: scroll;
}
.panel.section-table {
    height: 190px;
    overflow-y: scroll;
}
.custom-exam {
    margin-bottom: 10px;
}
.custom-scroll {
    height: 125px;
    overflow-y: scroll;
}
.custom-add-sidebar.min li a {
    padding: 0 15px;
}
.custom-side-tree .tree-item {
    border: medium none !important;
}
.custom-side-tree .tree-folder {
    border: medium none;
}
.custom-side-tree .tree .tree-item, .tree .tree-folder .tree-folder-header {
    box-sizing: content-box;
    color: #ffffff;
    font-size: 11px;
    margin: 0;
    padding: 4px 0 6px;
}
.custom-side-tree .tree .tree-folder .tree-folder-header:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 4px;
}
.custom-side-tree .tree .tree-item:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 4px;
}
.tree.tree-plus-minus .tree-folder-header .fa-folder-open:before {
    background: url("../img/tree-icons.png") no-repeat scroll 0 -70px rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    width: 16px;
}
.tree.tree-plus-minus .tree-folder-header .fa-folder:before {
    background: url("../img/tree-icons.png") no-repeat scroll 0 -47px rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    width: 16px;
}
.custom-side-tree a {
    line-height: 22px !important;
} 
.col-lg-6 > label span {
    font-weight: 400;
}